<mat-toolbar class="custom-toolbar" style="width: 100%; z-index: 1000; background-color: #004f4f;">
  <div>
      <a mat-button class="example-icon mr20" style="color: #00dddd;">
          <h1>Inicio</h1>
      </a>
      <a mat-button class="example-icon mr20" style="color: #00dddd;">
          <h1>Veterinarios</h1>
      </a>
      <a mat-button class="example-icon mr20" style="color: #00dddd;">
          <h1>Servicios</h1>
      </a>
     
      <ng-container>
          <a mat-button class="example-icon mr20" style="color: #00dddd;">
              <h1>Perfil</h1>
          </a>
          <a mat-button class="example-icon mr20" style="color: #00dddd;">
              <h1>Mis Mascotas</h1>
          </a>
      </ng-container>
      
  </div>
  <span class="example-spacer"></span>
  <ng-container >
      <!-- Usuario autenticado -->
      <a mat-button class="example-icon favorite-icon mr20" style="color: #00dddd;">
        <h1>Cerrar sesión</h1>
      </a>
  </ng-container>
    <ng-template #notLoggedIn>
      <a  mat-button class="example-icon favorite-icon mr20" style="color: #00dddd;">
        <h1>Iniciar sesión</h1>
      </a>
      <a  mat-button class="example-icon favorite-icon mr20" style="color: #00dddd;">
          <h1>Registrarse</h1>
        </a>
    </ng-template>
</mat-toolbar>

<div class="container">
<mat-checkbox class="azure-primary" />
hola
<section class="orange-primary">
  <mat-checkbox />
  hola
</section>
<button mat-flat-button class="azure-primary">Primary</button>
<button mat-flat-button class="azure-tertiary">Accent</button>
<button mat-flat-button class="orange-primary">hola</button>
<button mat-flat-button class="orange-error">Error</button>
<br>
<button mat-stroked-button class="azure-primary">Primary</button>
<button mat-stroked-button class="azure-tertiary">Accent</button>
<button mat-stroked-button class="orange-primary">hola</button>
<button mat-stroked-button class="orange-error">Error</button>

<br>
<br>
<div class="container formulario">
  <mat-form-field class="azure-primary">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="azure-primary">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="azure-primary">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
</div>